@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:purple" class="display-4"><strong>Kütühane Uygulamamıza Hoş Geldiniz...</strong> </h1>
    <br />
    <br />
    <p><img src="/img/7007fac61.jpg"/></p>
</div>
